body{
    margin: 0%;
    text-align: center;
}
.divname{
    padding-top:100px;
    background-color: #DAEAF1;
    position:relative;
}
h1{
    width: 50%;
    margin: 0% auto 0% auto;
    font-family: Sacramento;
    color: #66BFBF;
    font-size:312.5%;
}
h2{
    font-family: 'Edu NSW ACT Foundation', cursive;
    color: #66BFBF;
}
p{
    margin-bottom: 0%;
    margin-top: 0%;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.topcloud{
    position: absolute;
    right:20%;
}
.buttomcloud{
    position: absolute;
    left:15%;
    top:40%;
    border-radius: 4.8%;
}
li{
    display: inline-block;
    color:#11999E;
}
.git{
    position: relative;
    right: 200px;
}
.linkedin{
    position: relative;
    right: 150px;
}
.insta{
    position:relative;
    right: 100px;
}
.mail{
    position:relative;
    right: 50px;
}
.freelancingimage{
    float:left;
    margin-right:4.8%;
}
.web{
    float: right;
    margin-left: 4.8%;
}
hr{
    border: 6px dotted #b5c4df;
    border-bottom: none;
    width: 3%;
    margin-top: 3%;
}
